name: Deploy Multi-Site Hugo to GitHub Pages

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: '0.54.0'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build and Deploy get-started site
        run: |
          cd get-started
          hugo -s . -d ../public/get-started
        env:
          HUGO_ENV: production

      - name: Build and Deploy enterprise site
        run: |
          cd enterprise
          hugo -s . -d ../public/enterprise
        env:
          HUGO_ENV: production

      - name: Build and Deploy security site
        run: |
          cd security
          hugo -s . -d ../public/security
        env:
          HUGO_ENV: production

      - name: Build and Deploy user-guide site
        run: |
          cd user-guide
          hugo -s . -d ../public/
        env:
          HUGO_ENV: production

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          destination_dir: docs
